@using cloudscribe.Web.Pagination
@using WebApplication1.Controllers
@using cloudscribe.Pagination.Models
@using WebApplication1.Models
@using WebApplication1.Repository.IRepository

@model PagedResult<People>;

@{
    ViewData["Title"] = "People";
}

<h1>People List</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="People" asp-action="SearchPeople" method="get">
    <p>
        Title: <input type="text" name="searchString" />
        <input type="submit" value="Search" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                Country
            </th>
            <th>
                DateOfBirth
            </th>
            <th>
                Status
            </th>
            <th>
                Payment Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentNumber)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                <a asp-action="Payment" asp-route-id="@item.Id">Pay</a>
            
            </td>
        </tr>


}
   

    </tbody>
</table>

<div>
<cs-pager cs-previous-page-html="<a href='#' title='Previous page'><i class='glyphicon glyphicon-backward'></i></a>"
          cs-next-page-html="<a href='#' title='Next page'><i class='glyphicon glyphicon-forward'></i></a>"
          cs-paging-pagesize="@Model.PageSize"
          cs-paging-pagenumber="@Model.PageNumber"
          cs-paging-totalitems="@Model.TotalItems"
          cs-pagenumber-param="page"
          cs-pager-li-current-class="page-item active"
          cs-pager-li-other-class="page-item"
          cs-pager-li-non-active-class="page-item disabled"
          cs-pager-link-current-class="page-link"
          cs-pager-link-other-class="page-link"
          asp-controller="People"
          asp-action="Index"></cs-pager>
</div>
